body {
  background-color: rgb(74, 112, 106);
  margin: 0;
}

.indexcard-layout {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: cadetblue;
  background-color: cornsilk;
  height: 125px;
  transition: 500ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -1px;
  box-shadow: rgb(95, 89, 89);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 0.1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.indexcard-possibilites {
  margin-top: 0.5rem;
}

.indexcard-possibility {
  margin-top: 0.3rem;
  color: rgb(61, 60, 60);
  font-size: 0.8rem;
}

.indexcard-possibility:first-child {
  margin-top: 0;
}
